.card-container {
    display: flex;
    justify-content: left;
    padding: 20px;
    font-family: "Poppins", serif;
    

  }
  
  .card {
    background-color: rgb(39, 40, 41);
    width: 340px;
    height: 600px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
     
    
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-image {
    width: 230px;
    height: 260px;
    border-radius: 20px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .card-name {
    font-size: 2rem;
    font-weight: bolder;
    margin: 0;
    color: white;
  }
  
  .card-description {
    font-size: 1rem;
    color: #d5d5d5;
    margin: 5px;
  }
  
  
  .btn-letstalk {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    margin-bottom: 15px;
    margin-top: 50px;
 }
 
 .btn-letstalk:hover {
  animation: shake3856 0.3s linear infinite both;
 }
 
 @keyframes shake3856 {
  0% {
   -webkit-transform: translate(0);
   transform: translate(0);
  }
 
  20% {
   -webkit-transform: translate(-2px, 2px);
   transform: translate(-2px, 2px);
  }
 
  40% {
   -webkit-transform: translate(-2px, -2px);
   transform: translate(-2px, -2px);
  }
 
  60% {
   -webkit-transform: translate(2px, 2px);
   transform: translate(2px, 2px);
  }
 
  80% {
   -webkit-transform: translate(2px, -2px);
   transform: translate(2px, -2px);
  }
 
  100% {
   -webkit-transform: translate(0);
   transform: translate(0);
  }
 }
 

  
  .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-icon {
    color: #eaeaea;
    font-size: 1.5rem;
    margin: 0 10px;
    transition: color 0.3s ease;
  }
  
  .social-icon:hover {
    color: var(--animation);
  }
  
  /* Tablet View */
 
  @media screen and (max-width: 1100px) {
    .card-container {
      justify-content: center;
      align-items: center;
      margin-left: 0;
    }
  
    .card-image {
      width: 250px;
      height: 300px;
      border-radius: 20px;
      object-fit: cover;
    }
  
    .card {
      width: 40rem;
      height: 38rem;
      text-align: center;
    }
  
    .btn-letstalk {
      margin-bottom: 10px;
      margin-top: 0;
    }
  
    .card-description {
      font-size: 1rem;
      padding: 0 25%;
      margin-bottom: 35px;
    }
  }
  
  /* Mobile View */
  @media screen and (max-width: 768px) {
    .card-container {
      align-items: center;
      justify-content: center;
    }
  
    .card {
    
      width: 30rem;
      height: 36.5rem;
    }
    
  
    .card-description {
      font-size: 1rem;
      padding: 0 1rem;
    }
  }
  
  @media screen and (max-width: 480px) {
    .card-container {
      align-items: center;
      justify-content: center;
    }
  
    .card {
      width: 80vw;
      height: 560px;
      min-height: 560px;
      max-height: 560px;
      padding: 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;
    }
  
    .card-image {
      width: 60vw;
      height: 62vw;
      border-radius: 20px;
      object-fit: cover;

      flex-shrink: 0;
    }
  
    .card-name {
      font-size: 5vw;
    }
  
    .card-description {
      font-size: 3vw;
      padding: 0 0;
      flex-grow: 1;
    }
  
    .card-footer {
      flex-shrink: 0; 
    }
  
    .social-icon {
      font-size: 5vw;
    }
    
  }
  